.version.projekty /* version checker */
{
	color: #0000E8;
	background-color: #CBF77C;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 936px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -32px;
	padding-top: 67px;
	width: 0.01px;/* should not cover content below */
}

#pu793-5
{
	width: 0.01px;
	margin-left: 76px;
}

#u793-5
{
	z-index: 51;
	width: 210px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
}

#menuu478
{
	z-index: 16;
	width: 405px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 399px;
}

#u486
{
	width: 70px;
	min-height: 22px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u487
{
	width: 70px;
	position: relative;
}

#u487:hover
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u487:active
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u487.MuseMenuActive
{
	width: 70px;
	min-height: 0px;
	margin: 0px;
}

#u488-4
{
	width: 49px;
	min-height: 18px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	left: 8px;
}

#u487:hover #u488-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u487:active #u488-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u487.MuseMenuActive #u488-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u514
{
	width: 78px;
	min-height: 22px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u517
{
	width: 78px;
	position: relative;
}

#u517:hover
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u517:active
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u517.MuseMenuActive
{
	width: 78px;
	min-height: 0px;
	margin: 0px;
}

#u520-4
{
	width: 57px;
	min-height: 18px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	left: 8px;
}

#u517:hover #u520-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u517:active #u520-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u517.MuseMenuActive #u520-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u479
{
	width: 95px;
	min-height: 22px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 148px;
}

#u482
{
	width: 95px;
	position: relative;
}

#u482:hover
{
	width: 95px;
	min-height: 0px;
	margin: 0px;
}

#u482:active
{
	width: 95px;
	min-height: 0px;
	margin: 0px;
}

#u482.MuseMenuActive
{
	width: 95px;
	min-height: 0px;
	margin: 0px;
}

#u485-4
{
	width: 75px;
	min-height: 18px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	left: 8px;
}

#u482:hover #u485-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u482:active #u485-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u482.MuseMenuActive #u485-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 75px;
	margin: 0px -10000px 0px 0px;
}

#u521
{
	width: 72px;
	min-height: 22px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 243px;
}

#u524
{
	width: 72px;
	position: relative;
}

#u524:hover
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u524:active
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u524.MuseMenuActive
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u525-4
{
	width: 51px;
	min-height: 18px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	left: 8px;
}

#u524:hover #u525-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u524:active #u525-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u524.MuseMenuActive #u525-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u493
{
	width: 90px;
	min-height: 22px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 315px;
}

#u494
{
	width: 90px;
	position: relative;
}

#u494:hover
{
	width: 90px;
	min-height: 0px;
	margin: 0px;
}

#u494:active
{
	width: 90px;
	min-height: 0px;
	margin: 0px;
}

#u494.MuseMenuActive
{
	width: 90px;
	min-height: 0px;
	margin: 0px;
}

#u495-4
{
	width: 70px;
	min-height: 18px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
	left: 8px;
}

#u494:hover #u495-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u494:active #u495-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u494.MuseMenuActive #u495-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#slideshowu847
{
	z-index: 56;
	width: 0.01px;
	height: 445px;
	margin-left: 21px;
	margin-top: 30px;
	position: relative;
}

#u848
{
	position: absolute;
	width: 803px;
	height: 445px;
	left: 57px;
}

#u848popup
{
	z-index: 57;
}

#u851
{
	z-index: 58;
	width: 803px;
	height: 445px;
	margin-right: -10000px;
	position: relative;
}

#u851_img
{
	margin-left: -1px;
	margin-top: -51px;
	margin-bottom: -51px;
}

#u853
{
	z-index: 60;
	width: 803px;
	height: 445px;
	margin-right: -10000px;
	position: relative;
}

#u853_img
{
	margin-top: -54px;
	margin-bottom: -43px;
}

#u849
{
	z-index: 62;
	width: 803px;
	height: 445px;
	margin-right: -10000px;
	position: relative;
}

#u849_img
{
	margin-top: -45px;
	margin-bottom: -45px;
}

#u856-4
{
	position: absolute;
	width: 37px;
	min-height: 55px;
	padding: 10px;
	top: 185px;
}

#u856-4popup
{
	z-index: 64;
}

#u872-4
{
	position: absolute;
	width: 39px;
	min-height: 55px;
	padding: 10px;
	top: 185px;
	left: 860px;
}

#u872-4popup
{
	z-index: 68;
}

#u644-3
{
	z-index: 2;
	width: 919px;
	min-height: 445px;
	margin-left: 21px;
	top: -445px;
	margin-bottom: -445px;
	position: relative;
}

#pu73
{
	width: 0.01px;
	padding-bottom: 246px;
	margin-left: 1006px;
	margin-top: -445px;
}

#u73
{
	z-index: 5;
	width: 54px;
	height: 246px;
	position: fixed;
	top: 171px;
	right: 0px;
}

#u74
{
	z-index: 6;
	width: 30px;
	position: fixed;
	top: 187px;
	right: 12px;
}

#u98
{
	z-index: 8;
	width: 30px;
	position: fixed;
	top: 232px;
	right: 12px;
}

#u104
{
	z-index: 10;
	width: 30px;
	position: fixed;
	top: 277px;
	right: 12px;
}

#u110
{
	z-index: 12;
	width: 30px;
	position: fixed;
	top: 322px;
	right: 12px;
}

#u116
{
	z-index: 14;
	width: 30px;
	position: fixed;
	top: 368px;
	right: 12px;
}

#u1119
{
	z-index: 132;
	width: 919px;
	background-color: #E5EEF9;
	margin-left: 21px;
	margin-top: 39px;
	position: relative;
}

#u1120-4
{
	z-index: 133;
	width: 892px;
	min-height: 32px;
	background-color: transparent;
	font-size: 24px;
	text-align: left;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#pu967
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 31px;
}

#u967
{
	z-index: 72;
	width: 293px;
	height: 173px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/istock_000000856293_large-u967-fr.jpg") no-repeat center bottom;
	background-size: cover;
}

#u969
{
	z-index: 82;
	width: 293px;
	height: 173px;
	position: relative;
	margin-right: -10000px;
	left: 313px;
	background: transparent url("../images/istock_000016621796_large-e1418849206149.jpg") no-repeat center bottom;
	background-size: cover;
}

#u971
{
	z-index: 92;
	width: 293px;
	height: 173px;
	position: relative;
	margin-right: -10000px;
	left: 626px;
	background: transparent url("../images/istock_000005193352_large-u971-fr.jpg") no-repeat center bottom;
	background-size: cover;
}

#pu968-9
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 9px;
}

#u968-9
{
	z-index: 73;
	width: 293px;
	min-height: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u970-9
{
	z-index: 83;
	width: 293px;
	min-height: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 313px;
}

#u972-9
{
	z-index: 93;
	width: 293px;
	min-height: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 626px;
}

#pu990
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 47px;
}

#u990
{
	z-index: 102;
	width: 293px;
	height: 173px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/istock_000031633478_large.jpg") no-repeat center center;
	background-size: cover;
}

#u992
{
	z-index: 112;
	width: 293px;
	height: 173px;
	position: relative;
	margin-right: -10000px;
	left: 313px;
	background: transparent url("../images/istock_000038763938_small.jpg") no-repeat center top;
	background-size: cover;
}

#u994
{
	z-index: 122;
	width: 293px;
	height: 173px;
	position: relative;
	margin-right: -10000px;
	left: 626px;
	background: transparent url("../images/istock_000020530258_small.jpg") no-repeat center bottom;
	background-size: cover;
}

#pu991-9
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 10px;
}

#u991-9
{
	z-index: 103;
	width: 293px;
	min-height: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u993-9
{
	z-index: 113;
	width: 293px;
	min-height: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 313px;
}

#u995-9
{
	z-index: 123;
	width: 293px;
	min-height: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 626px;
}

#u968-2,#u970-2,#u972-2,#u991-2,#u993-2,#u995-2
{
	text-align: center;
	color: #000000;
}

#u968-3,#u968-5,#u968-6,#u970-3,#u970-5,#u970-6,#u972-3,#u972-5,#u972-6,#u991-3,#u991-5,#u991-6,#u993-3,#u993-5,#u993-6,#u995-3,#u995-5,#u995-6
{
	font-size: 13px;
	text-align: center;
	color: #000000;
	font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
}

#u968-7,#u970-7,#u972-7,#u991-7,#u993-7,#u995-7
{
	font-size: 13px;
	letter-spacing: 0px;
	color: #000000;
	font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
}

#u630-4
{
	z-index: 47;
	width: 425px;
	min-height: 18px;
	margin-left: 20px;
	margin-top: 136px;
	position: relative;
}

.html
{
	background-color: #E5EEF9;
	background: -webkit-gradient(linear, left center, right center, from(#E5EEF9),color-stop(100%, #E5EEF9));
	background: -webkit-linear-gradient(left,#E5EEF9 ,#E5EEF9 100%);
	background: linear-gradient(to right,#E5EEF9 ,#E5EEF9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFE5EEF9, endColorstr=#FFE5EEF9, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE5EEF9', endColorstr='#FFE5EEF9', GradientType=1)";
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 30px;
	padding-bottom: 47px;
}

